<h2>hello (text interpolation)</h2>
<app-hello name="Toto"></app-hello>
<app-hello [name]="'Toto'"></app-hello>
<app-hello [name]="prenom"></app-hello>

<h2>uptime (data binding)</h2>
<app-uptime></app-uptime>

<h2>clock (exercice)</h2>
<app-clock></app-clock>

<h2>user-form (property binding + $event + template ref)</h2>
<app-user-form></app-user-form>

<h2>counter (event binding)</h2>
<app-counter [count]="cpt" (increment)="cpt = $event"></app-counter>
<p>Cpt : {{ cpt }}</p>

<!--
  Avec le DOM
  à l'intérieur du composant
  counterEl.dispatchEvent(new Event('increment'));

  à l'extérieur du composant
  counterEl.addEventListener('increment', ($event) => {
    cpt =
  });
-->

<h2>hello-world (exercice)</h2>
<app-hello-world></app-hello-world>

<h2>multi-state-button (exercice)</h2>
<!-- <app-multi-state-button
  [items]="['Toto', 'Titi', 'Tata']"
  [value]="prenom"
  (valueChange)="prenom = $event"
></app-multi-state-button> -->

<app-multi-state-button
  [items]="['Toto', 'Titi', 'Tata']"
  [(value)]="prenom"
></app-multi-state-button>

<!-- [()] BANANA IN A BOX -->

<!--
  Exercice 1 :
  Faire de items et value de app-multi-state-button des inputs
  et passer :
  - à items un tableau de prenoms
  - à valeur la propriété prenom de AppComponent (comme app-hello)
  Créer un Output dans app-multi-state-button appelée valueChange (le nom est important)
  et au moment du click remonter la valeur dans prenom
-->

<h2>color-picker (attribute, class and style bindings)</h2>
<app-color-picker
  [colors]="['blue', 'green', 'yellow']"
  [(selected)]="color"
></app-color-picker>
<!--
  Exercice 2 :
  Color picker doit avec 2 inputs (la liste et la valeur sélectionnée) et un output
  qui sera appelé pour moment du clic sur une couleur (noms au choix)
-->

<h2>use-separate-chars (custom pipes)</h2>
<app-use-separate-chars></app-use-separate-chars>
